<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/search.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header Section -->
  <%- include('header') %>

  <!-- Main Section -->
    <div class="main-content">

      <!-- Filter Column -->
      <div class="filter-column">
      <form method="post" action="/search/filter" >
        <!-- Gender Section -->
        <div class="filter-section">
          <div class="all-filters-title">Filters</div>
          <h5 class="filter-title">Gender</h5>
          <div class="filter-option">
            <input type="checkbox" id="male" name="gender" value="male">
            <label for="male">Male</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="female" name="gender" value="female">
            <label for="female">Female</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="children" name="gender" value="children">
            <label for="children">Children</label>
          </div>
        </div>
        <!-- Frame Type Section -->
        <div class="filter-section">
          <h5 class="filter-title">Frame Type</h5>
          <div class="filter-option">
            <input type="checkbox" id="rectangle" name="frame" value="rectangle">
            <label for="rectangle">Rectangle</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="oval" name="frame" value="oval">
            <label for="oval">Oval</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="round" name="frame" value="round">
            <label for="round">Round</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="square" name="frame" value="square">
            <label for="square">Square</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="browline" name="frame" value="browline">
            <label for="browline">Browline</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="cat-eye" name="frame" value="cat-eye">
            <label for="cat-eye">Cat-eye</label>
          </div>
        </div>        
        <!-- Price Section -->
        <div class="filter-section">
          <h5 class="filter-title">Price</h5>
          <div class="filter-option">
            <input type="checkbox" id="under50" name="price" value="under50">
            <label for="under50">Under $50</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="between51and150" name="price" value="between51and150">
            <label for="between51and150">$51 - $150</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="over150" name="price" value="over150">
            <label for="over150">Over $150</label>
          </div>
          <div class="price-inputs">
            <input type="number" class="form-control" placeholder="Min" id="minPrice" name="minPrice">
            <input type="number" class="form-control" placeholder="Max" id="maxPrice" name="maxPrice">
          </div>
        </div>
        <!-- Material / Color Section -->
        <div class="filter-section">
          <h5 class="filter-title">Material / Color</h5>
          <div class="filter-option">
            <input type="checkbox" id="metal" name="material" value="metal">
            <label for="metal">Metal</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="wood" name="material" value="wood">
            <label for="wood">Wood</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="plastic" name="material" value="plastic">
            <label for="plastic">Plastic</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="black" name="material" value="black">
            <label for="black">Black</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="red" name="material" value="red">
            <label for="red">Red</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="blue" name="material" value="blue">
            <label for="blue">Blue</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="white" name="material" value="white">
            <label for="white">White</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="other" name="material" value="other">
            <label for="other">Other</label>
          </div>
        </div>
        <!-- Type Section -->
        <div class="filter-section">
          <h5 class="filter-title">Type</h5>
          <div class="filter-option">
            <input type="checkbox" id="reading" name="type" value="reading">
            <label for="reading">Reading</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="progressive" name="type" value="progressive">
            <label for="progressive">Progressive</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="bifocal" name="type" value="bifocal">
            <label for="bifocal">Bifocal</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="trifocal" name="type" value="trifocal">
            <label for="trifocal">Trifocal</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="non-prescription" name="type" value="non-prescription">
            <label for="non-prescription">Non-Prescription</label>
          </div>
        </div>
        <!-- Size Section -->
        <div class="filter-section">
          <h5 class="filter-title">Size</h5>
          <div class="filter-option">
            <input type="checkbox" id="size-xs" name="size" value="XS">
            <label for="size-xs">XS</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="size-s" name="size" value="S">
            <label for="size-s">S</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="size-m" name="size" value="M">
            <label for="size-m">M</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="size-l" name="size" value="L">
            <label for="size-l">L</label>
          </div>
          <div class="filter-option">
            <input type="checkbox" id="size-xl" name="size" value="XL">
            <label for="size-xl">XL</label>
          </div>
        </div>
                
        <!-- Button to update search -->
        <button class="btn btn-primary update-search-btn">Update Search</button>
      </div>

      <!-- Results column (right side) -->
      <div class="results-column">
        <div class="results-title">Search Results</div>
        <!-- Individual Result Item -->
        <% products.forEach(product => { %>
          <div class="result-item">
            <a href="/product/<%= product.name %>">
            <img src="/images/<%= product.name %>.jpg" alt="<%= product.description %>" class="result-image">
            </a>
            <p class="result-name"><%= product.name %></p>
            <p class="result-price">$<%= product.price %></p>
          </div>
        <% }); %>
        </form>
      </div>
  </div>

  <!-- Footer Section -->
  <%- include('footer') %>
  
</body>
</html>
